{% extends "layout.html" %}

{% set pageId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/modal.css">
{% endblock styles %}

<!--Page home-->
{% block content %}
    <div class="content">

        <header>
            <img src="./assets/logo-principal.png" alt="Logomarca">
            <a href="/create-point">
                <span></span>
                Cadastre um ponto de doação</a>
        </header>

        <main>
            <h1>Seu marketplace de doação de livros</h1>

            <p>Ajudamos pessoas a encontrarem pontos de doação de livros de forma eficiente.</p>

            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de doação</a>
            </strong>

        </main>
    </div>
{% endblock content %}

<!--form ponto de coleta-->
{% block modal %}
    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Pontos de doação</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="/search-results">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input type="text" name="search" placeholder="Pesquise por Cidades">
                    <button>
                        <img src="./assets/search.svg" alt="Buscar">
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock modal %}

{% block scripts %}
    <script src="./script/index.js"></script>
{% endblock scripts %}