:root {
    --title-color:#172c85;
    --primary-color:#006fd8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*o preenchimento ficara sempre dentro da caixa e ela não vai esticar mais*/
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased; 
    background: #f0f0f5;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}




